<template>
    <div>
        <div class="back">
            <a @click="$router.back()"><i class="fa fa-chevron-left"></i></a>
            <a @click="$router.back()">Back</a>
        </div>

        <div class="row center" v-if="loading">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>

        <div class="row" v-if="!loading && book">
            <h1>{{book.title}}</h1>
            <h2>Author: {{book.author}}</h2>

            <h3 v-if="!book.downloads">
                <a :href="book.url" target="_blank" rel="noopener noreferrer">Downloads</a>
                <a :href="book.url" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link"></i></a>
            </h3>

            <div class="row">
                <div class="col-6" v-if="book.subject">
                    Subjects:

                    <ul>
                        <li v-for="subject in book.subject">
                            {{subject}}
                        </li>
                    </ul>
                </div>

                <div class="col-6" v-if="book.downloads">
                    Downloads (right click to "save as"):

                    <ul>
                        <li v-for="download in book.downloads">
                            <a :href="download.url" rel="noopener noreferrer">
                                {{download.title}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-6">
                    Information:
                    <ul>
                        <li>
                            Source: {{book.source}}
                        </li>
                        <li v-if="book.language">
                            Language: {{book.language}}
                        </li>
                        <li v-if="book.published">
                            Published: {{book.published}}
                        </li>
                        <li v-if="book.copyright">
                            Copyright: {{book.copyright}}
                        </li>
                        <li v-if="book.license">
                            License: {{book.license}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import books from '@/books';

export default {
    name: 'Book',
    data() {
        return {
            book: null,
            loading: false,
        };
    },
    created() {
        this.loading = true;
        books.details(this.$route.params.id).then((book) => {
            this.book = book;
            this.loading = false;
        });
        // TODO error handling
    },
};
</script>

<style scoped>
    .back {
        margin-top: 0.25em;
    }

    h1 {
        margin-top: 0;
    }

    h2 {
        margin-top: 0;
    }
</style>
