<template>
    <div>
        <div class="row">
            <form class="p-form p-form--inline">
                <div class="p-form__group">
                    <label for="search" class="p-form__label">Search Audiobooks</label>
                    <input type="text" id="search" class="p-form__control" v-model="search" />
                </div>
            </form>
        </div>

        <div class="row center" v-if="loading">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>

        <div class="row center" v-if="results.length == 0 && !loading && this.search.length > 0">
            No audiobooks found, try another search
        </div>

        <div class="row" v-if="results.length > 0 && !loading">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="book in results">
                        <td><router-link :to="{name: 'book', params: {id: book.id}}">{{book.title}}</router-link></td>
                        <td>{{book.author}}</td>
                        <td>{{book.source}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import debounce from 'debounce';

import books from '@/books';

export default {
    name: 'Search',
    data() {
        return {
            search: '',
            results: [],
            loading: false,
        };
    },
    created() {
        if (this.$route.query.search) {
            this.search = this.$route.query.search;
            this.fetchResults();
        }
    },
    methods: {
        setQueryParams() {
            this.$router.push({name: 'search', query: {search: this.search}});
        },
        fetchResults: debounce(function() {
            this.results = [];

            if (this.search) {
                this.loading = true;

                books.search(this.search).then((results) => {
                    this.results = results;
                    this.loading = false;
                });
                // TODO error handling
            }
        }, 300),
    },
    watch: {
        search() {
            this.setQueryParams();
            this.fetchResults();
        },
    },
};
</script>

<style scoped>
    .p-form {
        margin-top: 1em;
    }
</style>
