<template>
    <div id="app">
        <header id="navigation" class="p-navigation">
            <div class="row p-navigation__row">
                <div class="p-navigation__banner">
                    <div class="p-navigation__logo">
                        Audiobook Finder (beta)
                    </div>
                </div>
            </div>
        </header>

        <div class="row">
            <router-view/>
        </div>

        <footer class="p-footer">
            <div class="row">
                <nav class="p-footer__nav">
                    <ul class="p-footer__links">
                        <li class="p-footer__item">
                            <a class="p-footer__link" href="http://bhdouglass.com" target="_blank">Created by Brian Douglass</a>
                        </li>

                        <li class="p-footer__item">
                            <a class="p-footer__link" href="http://www.gutenberg.org/browse/categories/1" target="_blank">Audiobook data from Project Gutenberg</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    name: 'app',
};
</script>

<style>
</style>
